<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['customer-list']" [routerLinkActive]="['active']">Listar cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['customer-edit']" [routerLinkActive]="['active']">Adicionar cliente</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

